<% include ./partials/header %>

<div class="ui main container">
    
    <div class="ui text container">
        <h1 class="ui huge header">Trivial Matters</h1>
    </div>    

    <div class="ui text container segment ">
            <p>Trivial Matters is a simple trivia game built using NodeJS and Express.</p>
            <a href="/play"><button class="ui button green">Play Trivia</button></a>
    </div>
 

<% include ./partials/footer %>