<% include ./partials/header %>

<div class="main">
    
    <div class="header">
        <h2 class="category">Trivial Matters</h1>
    </div>    

    <div class="ui text container segment ">
            <p class="question">Trivial Matters is a simple trivia game built using NodeJS and Express.</p>
            <a href="/play"><center><button class="ui primary button centered" id="answerButton">Play Trivia</button></center></a>
    </div>
 

<% include ./partials/footer %>