<% include ./partials/header %>

<div class="main">
    
    <div class="header">
        <h2 class="category">Log in to your account</h1>
    </div> 

    <div class="ui text container">
        
        <div class="ui padded text content segment">
        
            <form class="ui form" action="/login" method="POST">
                <div class="field">
                    <p class="label">
                        <label>Username</label>
                    </p>
                    <input type="text" name="username" placeholder="username">
                </div>
                <div class="field">
                    <p class="label">
                        <label>Password</label>
                    </p>
                    <input type="password" name="password" placeholder="password">
                </div>
                
                <button class="ui button green">Log in</button>
    
            </form>
        </div>
    </div>
 

<% include ./partials/footer %>